*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color: white;
    text-shadow: 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 15px #d500ff;
}

audio {
    visibility:hidden;
    position:absolute;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
   
    overflow-x:hidden;
}

/*The introduction menu*/
header {
    display: flex;
    position: absolute;
    z-index: 5;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;

}



h1 {
    color: white;
    text-shadow: 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 15px #d500ff;
    font-size: 5em;
    text-align: center;
}

/*The main game*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    width: 95%;
    height: 95%;

    align-items: center;
}



h2 {
    color: white;
    font-size: 2em;

}

/*The header*/
.both-scores {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.score {
    color: white;
    padding: 5px;
    border-radius: 15px;
    width: 45%;
    text-align: center;

}


/*The area where the player makes selections and seees the result of the game*/
.game-arena {

    height: 80%;
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

button:hover figcaption {
    opacity: 1;

}


/*The select menu*/
.select {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    z-index: 3;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin:2%;
}

/*Changing the scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}


::-webkit-scrollbar-thumb {
    background-color: white;
    box-shadow: 0px 0px 7px #d500ff inset, 0px 0px 7px #d500ff inset, 0px 0px 7px #d500ff, 0px 0px 7px #d500ff;
}


::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
}

.select button {
    width: 14em;
    height: 14em;
    background-color: black;
    border: 0;

}

.select figure {
    width: 14em;
    height: 14em;
    margin-bottom: 0px;
    color:white;
    text-align: center;
    text-shadow: 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 15px #d500ff;
}

.select figcaption {
    font-size: 1.5em;
    opacity: 0;
}

.select img {
    width: 100%;
}

.selected {
    opacity: 1;
}
.selected:hover{
    opacity:1;
}

.unselected {
    opacity: 0.4;
}

.play-button {
    width: 100%;
    font-size: 1.5em;
    color: white;
    z-index:4;
    padding: 1%;
    text-align: center;
    text-shadow: 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 7px #d500ff, 0px 0px 15px #d500ff;
    background-color: rgba(255, 255, 255, 0);
}

/*To show what was selected*/

#showdown {
    position: absolute;
    text-align:center;
    padding: 10px;
    width: 80%;
    z-index: 1;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    opacity: 0;
    z-index: 2;
  

}
#showdown h2 {
    padding:5px;
}
#showdown div{
    width:50%;
}

#showdown img {
    width: 10em;
    height: 10em;
}

/*The end results screen*/
#results {
    text-align: center;
    
    min-width:50%;
    margin:1% 0.2%;
    padding: 1% 0.2%;
    position: absolute;
    justify-self:center;
    z-index: 1;
    opacity: 0;

}

#results span {
    font-size: 5em;
    
}

/*Cosmetic Classes*/

.neon-border{
    border:solid white 3px;
    box-shadow: 0px 0px 7px #d500ff inset, 0px 0px 7px #d500ff inset, 0px 0px 7px #d500ff, 0px 0px 7px #d500ff;
}

/*media queries*/

@media (max-width: 500px){

    #showdown{
        width:50%;
        flex-direction:column;
    }
    #results span{
        font-size:4.5em;
    }
    body{
        height:200vh;
    }
  
}

@media(min-width:600px) and (min-height:400px){
    body{
        height: 100vh;
        height: 100svh;
    }
}
